<!-- Modal -->
<div id="deleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">DELETE</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete <b>{{name}}</b> ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="delete()" data-dismiss="modal">Yes, please</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">Nope.</button>
      </div>
    </div>
  </div>
</div>