<div>
  <h3>
    <p> <span>Roles</span></p>
  </h3>
  <div>
    <button class="btn btn-success" (click)="navigateToForm(-1)">Add Role</button>
  </div>
</div>
<div>
  <div>
   <!-- <label for="name">Search</label>
    <input [ngModel]="searchObject.textTerm" id="name" formControlName="name" type="text" class="form-control">
    <a (click)="search()">
      <i class="glyphicon glyphicon-search" ></i>
    </a>-->
  </div>
</div>
<div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Role</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let role of roles;">
        <td>
          {{role.id}}
        </td>
        <td>
          {{role.name}}
        </td>
        <td>
          <a (click)="navigateToForm(role.id)">
             <i class="glyphicon glyphicon-pencil"></i>
          </a>
        </td>
        <td>
          <a (click)="deleteModal.Init(role)">
             <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-delete-modal #deleteModal (deleteEmitter)="delete($event)" ></app-delete-modal>