<div class="nav-side-menu">
  <div class="brand">CQS project</div>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content">
      <li [class.active]="homeActive" (click)="onClick()">
        <a routerLink="home">
          <i class="glyphicon glyphicon-home"></i> Home</a>
      </li>
      <li *ngIf="isVisible('Users')" [class.active]="usersActive" (click)="onClick()" >
        <a routerLink="user">
          <i class="glyphicon glyphicon-user"></i> Users</a>
      </li>
      <li *ngIf="isVisible('Roles')" [class.active]="rolesActive" (click)="onClick()">
        <a  routerLink="role">
          <i class="glyphicon glyphicon-list-alt"></i> Roles</a>
      </li>
      <li [class.active]="loginActive" (click)="onClick()">
        <a *ngIf="!loginService.isTokenNotExpired()" routerLink="login"  >
          <i class="fa fa-dashboard fa-lg"></i> Login
        </a>
        <a *ngIf="loginService.isTokenNotExpired()" 
        (click)="doLogout()">
          <i class="glyphicon glyphicon-off"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</div>